<!-- index.html -->
{% extends "base/base.html" %}

{% block title %}{{ media_type if media_type else 'home' }} - animation{% endblock %}

{% block content %}
      <main>
    <article>
      <section class="global-container">
        <div class="container mt-6">

          <div class="flex-wrapper">

            <div class="title-wrapper">
              <p class="section-subtitle">Today's animation</p>

              <h2 class="h2 section-title">Animation</h2>
            </div>

            <ul class="filter-list">

              <li>
            <button class="filter-btn" onclick="Open_new_link('/animation/movie', false)">Movies</button>
              </li>

              <li>
                <button class="filter-btn" onclick="Open_new_link('/animation/tv', false)">TV Shows</button>
              </li>

            </ul>

          </div>

          <ul class="movies-list">
            {% for item in results %}
            <li>
              <div class="movie-card">

                <a href="{{ url_for('main.details', media_type=media_type, item_id=item.id) }}">
                  <figure class="card-banner">
                    <img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}" alt="The Northman movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="{{ url_for('main.details', media_type='movie', item_id=item.id) }}">
                    <h3 class="card-title">{{ item.title or item.name}}</h3>
                  </a>

                  <time datetime="{{ item.release_date.split('-')[0] if item.release_date else ''  }}">{{ item.release_date.split('-')[0] if item.release_date else '' }}</time>
                </div>

                <div class="card-meta">
                  <div class="badge badge-outline">HD</div>

                  <div class="duration">
{#                    <ion-icon name="time-outline"></ion-icon>#}

                    <time datetime="PT137M"></time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>{{ item.vote_average | round(1) }}</data>
                  </div>
                </div>

              </div>
            </li>
            {% endfor %}

          </ul>

        </div>
                <div class="mt-5">



<ul class="pagination">
            {% if page > 1 %}
                <li class="page-item">
                <a class="btn btn-primary" href="/animation/{{ media_type }}?page={{ page-1 }}">Previous</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="btn btn-primary" href="/animation/{{ media_type }}?page={{ page+1 }}">Next</a>
            </li>
        </ul>

          </div>
      </section>






    </article>

  </main>



{% endblock %}