{% extends "base/base.html" %}

{% block title %}Search Results - Movie App{% endblock %}

{% block content %}
      <main>
    <article>
      <section class="global-container">
        <div class="container mt-6">

          <div class="flex-wrapper">

            <div class="title-wrapper">
              <p class="section-subtitle">Search Results for</p>

              <h2 class="h2 section-title">"{{ query }}"</h2>
            </div>


          </div>

          {% if total_results == 0 %}
    <div class="no-results">
        <h2>No Results Found</h2>
        <p>We couldn't find any matches for "<strong>{{ query }}</strong>". Please try again with a different keyword.</p>
        <a class="btn btn-primary" href="/">Go back to Home</a>
    </div>
              {% else %}
              <ul class="movies-list">
            {% for item in results %}
            <li>
              <div class="movie-card">

                <a href="{{ url_for('main.details', media_type=media_type, item_id=item.id) }}">
                  <figure class="card-banner">
                    <img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}" alt="The Northman movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="{{ url_for('main.details', media_type='movie', item_id=item.id) }}">
                    <h3 class="card-title">{{ item.title or item.name}}</h3>
                  </a>

                  <time datetime="{{ item.release_date.split('-')[0] if item.release_date else ''  }}">{{ item.release_date.split('-')[0] if item.release_date else '' }}</time>
                </div>

                <div class="card-meta">
                  <div class="badge badge-outline">HD</div>

                  <div class="duration">
{#                    <ion-icon name="time-outline"></ion-icon>#}

                    <time datetime="PT137M"></time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>{{ item.vote_average | round(1) if vote_average else 0 }}</data>
                  </div>
                </div>

              </div>
            </li>
            {% endfor %}

          </ul>
{% endif %}
        </div>
                <div class="mt-5">



<ul class="pagination">
    {% if page > 1 %}
        <li class="page-item">
            <a class="btn btn-primary" href="/search?query={{ query }}&page={{ page-1 }}">Previous</a>
        </li>
    {% endif %}

    {% if page < total_pages %}
        <li class="page-item">
            <a class="btn btn-primary" href="/search?query={{ query }}&page={{ page+1 }}">Next</a>
        </li>
    {% endif %}
</ul>


          </div>
      </section>






    </article>

  </main>



{% endblock %}
